  <main class="admin__main admin__main--tabla">
    <section class="admin__seccion admin__seccion--lista">
      <h2 class="admin__seccion-titulo">Productos Registrados</h2>
      <a href="#/productos" class="link__tabla">← Volver al registro</a>
      <table class="admin__tabla" id="tabla-productos">
        <thead class="admin__tabla-cabecera">
          <tr class="admin__tabla-fila">
            <th class="admin__tabla-encabezado">Nombre Producto</th>
            <th class="admin__tabla-encabezado">Descripción</th>
            <th class="admin__tabla-encabezado">Precio</th>
            <th class="admin__tabla-encabezado">Canntidad</th>
            <th class="admin__tabla-encabezado">Estado</th>
            <th class="admin__tabla-encabezado">Acciones</th>
          </tr>
        </thead>
        <tbody class="admin__tabla-cuerpo" id="tbody-productos"></tbody>
      </table>
    </section>
  </main>