<main class="admin__main admin__main--tabla">
  <section class="admin__seccion admin__seccion--lista">
    <h2 class="admin__seccion-titulo">Trabajadores Registrados</h2>
    <a href="#/productos" class="link__tabla">← Volver al registro</a>
    <table class="admin__tabla" id="tabla-trabajadores">
      <thead class="admin__tabla-cabecera">
        <tr class="admin__tabla-fila">
          <th class="admin__tabla-encabezado">NOMBRE PRODUCTO</th>
          <th class="admin__tabla-encabezado">DESCRIPCIÓN</th>
          <th class="admin__tabla-encabezado">PRECIO</th>
        </tr>
      </thead>
      <tbody class="admin__tabla-cuerpo" id="tbody-productos"></tbody>
    </table>
  </section>
</main>