 <div class="admin__citas">
      <h2 class="admin__titulo">Citas del día</h2>
      <div class="admin__content-items">
        <label for="admin__label">Fecha:</label>
      <input class="admin__input" type="date" id="fecha-admin">
      <label for="admin__label">Trabajador:</label>
      <select class="admin__input" id="trabajador-admin"></select>
      <button id="admin__boton--citas" class="admin__boton--citas">Ver Citas</button>
      </div>
      <table class="tabla-citas">
        <thead>
          <tr>
            <th>Hora</th>
            <th>Cliente</th>
            <th>Servicio</th>
             <th>Estado</th> 
          </tr>
        </thead>
        <tbody id="tabla-citas-body">
          <tr><td colspan="3">Selecciona un trabajador y fecha</td></tr>
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
