.admin__main {
  display: flex;
  flex-direction: column;
  /* align-items: center;   centra horizontalmente */
  gap: 40px;             /* separación entre formulario y tabla */
  margin: 30px auto;
  width: 100%;
  max-width: 1200px;     /* ancho máximo alineado con el header */
  padding: 0 9px;
  
}
/* -------tabla trabajadores-------- */
.admin__main--tabla{ 
 margin: 100px auto;
}

/* Sección formulario */
.admin__section--trabajadores {
 margin: 0 auto; /* Esto lo centra horizontalmente */
  background-color: var(--blanco);
  border: 1px solid var(--rosa-pastel);
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  max-width: 400px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);;
}
.form--trabajador {
  display: grid; 
  gap: 15px;

}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form__input {
  padding: 8px 12px;
  border: 1px solid var(--marron-claro);
  border-radius: 8px;
  background-color: var(--crema-claro);
}

.form__button {
  padding: 10px;
  background-color: var(--marron-claro);
  color: var(--blanco);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.form__button:hover {
  background-color: var(--rosa-marron); 
}
/* formulario sección clientes */
.cliente__main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cliente__cuadro {
  background-color: var(--blanco);
  border: 1px solid var(--rosa-pastel);
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  margin: 20px;
}
.cliente__cuadro--admin{
   background-color: var(--blanco);
  border: 1px solid var(--rosa-pastel);
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  margin: 0 auto;
  margin-top: 25px;
}

.cuadro__titulo {
  font-size: 1.4rem;
  color: var(--rojo-vino);
  margin-bottom: 20px;
  border-bottom: 2px solid var(--rojo-vino);
  display: inline-block;
  padding-bottom: 4px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario__label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #4e3e3e;
}

.formulario__input {
  padding: 10px;
  border: 1px solid var(--rosa-pastel);
  border-radius: 10px;
  margin-top: 5px;
}

.formulario__boton {
  background-color: var(--marron-claro);
  color: var(--blanco);
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}
.link__tabla{
 text-decoration:  none;
 color: var(--rosa-marron);
 margin-bottom: 10px;
 text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.link__tabla:hover{
color: var(--rojo-vino);
font-weight: bold;
}

/* -------------------Login----------------- */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: 6vw;
}
.login__container {
  background-color: var(--rosa-pastel-oscuro);
  border-radius: 30px;
  width: 300px;
  max-width: 300px;
  padding: 60px 70px;
  text-align: center;
}

.login__container--registro {
  height: 420px;
  width: 500px;
  padding: 20px 70px;
}

.login__title {
  color: var(--crema-claro);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.login__input-group {
  margin-bottom: 10px;
  position: relative;
}

.login__input,.input__agendar {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  background-color: var(--crema-claro);
  /* font-size: 1rem; */
  outline: none;
  color: var(--marron-claro);
}

.login__input::placeholder {
  color: var(--marron-claro);
  opacity: 0.7;
}
.login__button,.btn__agendar {
  background-color: var(--marron-claro);
  color: var(--rosa-pastel-oscuro);
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  /* font-size: 1rem; */
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
  width: 100%;
  font-weight: bold;
}
.login__link {
  display: block;
  margin-top: 15px;
  color: var(--crema-claro);
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
