@import url("header.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --rosa-pastel: #F9B7C3;
  --rosa-pastel-oscuro: #e7a4be;
  --rosa-oscuro: #D94A59;
  --rojo-vino: #A6243C;
  --crema-claro: #FFF1EA;
  --marron-claro: #5C3A2E;
  --negro: #0000;
  --blanco: #ffff; 
  --gris: #444;
  --rosa-marron : #8d5c54;
  --crema_oscuro: #fff3cd;
  --mostaza: #856404;
  --gris_claro:#cce5ff;
  --azul: #004085;
  --verde: #68c67e;
}
body{
   margin: 0;
  background-color: var(--blanco);
  padding: 10px;
}

@media (max-width: 414px) and (max-height: 896px) {
  .header {
    width: 95vw;
    /* margin-top: 10vw; */
  }
  .header__logo-link{
   width: 30px;
  }
  .titulo-bienvenida{
  font-size: 20px;
  color: var(--blanco);
  padding: 40px;
}
  /* .header__menu-link {
      padding: 0.1vw ;
      font-size: 15px;
  } */
  .header__menu-link{
     display: none;

  }

}
