/* tabla de trabajadores creados */
.admin__tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--crema-claro);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.admin__tabla-cabecera {
  background-color: var(--marron-claro);
  color: var(--blanco);
}

.admin__tabla-fila:nth-child(even) {
  background-color: var(--crema-claro);
}

.admin__tabla-encabezado,
.admin__tabla-celda {
  padding: 1rem;
  text-align: left;
  font-size: 1rem;
}

.admin__tabla-celda {
  color: #333; /*agregaaaaaaaaaaaaaaaaaaaaaarcolor*/
}

.admin__tabla-acciones {
  display: flex;
  gap: 0.10rem;
}
.tabla__boton {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-weight: bold;
  margin: 5px;
}

.tabla__boton--editar {
  background-color: var(--rosa-pastel);
  color: var(--marron-oscuro);
}

.tabla__boton--editar:hover {
  background-color: var(--rosa-pastel);
  transform: scale(1.05);
}

.tabla__boton--eliminar {
  background-color: var(--marron-claro);
  color: var(--blanco);
}

.tabla__boton--eliminar:hover {
  background-color: var(--rosa-marron);
  transform: scale(1.05);
}

/* ================== Movimientos Trabajadores ================== */
.admin__citas {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 900px;
  background: var(--blanco);
  border-radius: 15px;
  box-shadow: 0 4px 12px var(--sombra);
  border: 3px solid var(--rosa-marron);
  display: flex;
    flex-direction: column;
  gap: 1.5rem;
}

.admin__titulo {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: var(--marron-oscuro);
  text-align: center;
}
.admin__content-items{
display: flex;
gap: 15px;
align-items:flex-start;
}

/* Inputs y selects */
.admin__label {
  display: block;
  margin: 2rem 0 0.3rem;
  font-size: 1.6rem;
  color: var(--marron-oscuro);
}

.admin__input,
.admin__select {
  width: 100%;
  padding: 0.8rem 0.6rem;
  border: 1px solid var(--gris-claro);
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  margin-bottom: 1rem;
  transition: border 0.3s, box-shadow 0.3s;
   background-color: var(--crema-claro);
}

.admin__input,:focus,
.admin__select:focus {
  border: 1px solid var(--rosa-oscuro);
  box-shadow: 0 0 6px var(--rosa-pastel);
 
}


.admin__content{
  display: flex;
}

#admin__btn:hover {
  background: var(--marron-claro);
  transform: scale(1.05);
}

/* ================== TABLA ================== */
.tabla-citas {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--sombra);
}

.tabla-citas thead {
  background: var(--rosa-pastel);
  color: var(--marron-oscuro);
}

.tabla-citas th,
.tabla-citas td {
  padding: 1rem;
  border-bottom: 1px solid var(--gris-claro);
  
}

.tabla-citas tbody tr:hover {
  background: var(--crema-claro);
}

/* --- FACTURAS -- ADMINISTRADOR --- */
.admin__facturas {
  background-color: var(--blanco);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 20px;
  border: 5px solid var(--rosa-pastel)
}

.admin__titulo {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: var(--marron-oscuro);
}

/* --- Input y Botón --- */
.admin__input {
  padding: 10px;
  border: 1px solid var(--marron-claro);
  border-radius: 8px;
  margin-right: 80px;
}

.admin__boton {
  width: 120px;
  height: 40px;                  /* igual que los inputs */
  padding: 0 20px;               /* sin padding vertical, se centra mejor */
  background-color: var(--rosa-pastel);
  color: var(--blanco);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.admin__boton--citas{
  height: 40px;                  /* igual que los inputs */
  padding: 0 25px;               /* sin padding vertical, se centra mejor */
  background-color: var(--rosa-pastel);
  color: var(--blanco);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
 
}

.admin__boton:hover {
  background-color: var(--rosa-pastel-oscuro);        /* un rosa más fuerte al pasar el mouse */
  transform: scale(1.05);
}
.admin__boton--citas:hover{
   background-color: var(--rosa-pastel-oscuro);        /* un rosa más fuerte al pasar el mouse */
  transform: scale(1.05);
}

.admin__boton:active {
  transform: scale(0.95);
}


/* --- Tabla --- */
.admin__tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin__tabla th,
.admin__tabla td {
  padding: 12px 15px;
  border: 1px solid var(--gris-suave);
  text-align: center;
}

.admin__tabla th {
  background-color: var(--marron-claro);
  color: var(--blanco);
}

.admin__tabla tr:nth-child(even) {
  background-color: var(--gris-suave);
}

.admin__tabla tr:hover {
  background-color: var(--rosa-pastel);
}
