 <section class="admin__facturas">
  <h2 class="admin__titulo">Facturas por Día</h2>
  <div class="admin__content">
    <input type="date" id="fecha-busqueda" class="admin__input">
    <button id="btn-buscar" class="admin__boton">Buscar</button>
  </div>
  <table class="admin__tabla">
    <thead>
      <tr class="admin__tabla-fila">
        <th class="admin__tabla-encabezado">ID Factura</th>
        <th class="admin__tabla-encabezado">Hora</th>
        <th class="admin__tabla-encabezado">Total</th>
        <th class="admin__tabla-encabezado">Cliente</th>
        <th class="admin__tabla-encabezado">Trabajador</th>
        <th class="admin__tabla-encabezado">Servicio</th>
      <tr class="admin__tabla-fila">
    </thead>
    <tbody id="tabla-facturas-body"></tbody>
  </table>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
