* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --rosa-pastel: #F9B7C3;
  --rosa-pastel-oscuro: #e7a4be;
  --rosa-oscuro: #D94A59;
  --rojo-vino: #A6243C;
  --crema-claro: #FFF1EA;
  --marron-claro: #5C3A2E;
  --negro: #0000;
  --blanco: #ffff; 
  --gris: #444;
}
body{
   margin: 0;
  background-color: var(--blanco);
  padding: 10px;
}

/* header clientes */
.header{ 
  width: 100%;
  height: 60px;
  background-color: var(--rosa-pastel);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 10px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo-link {
  height: 40px;
  width: 40px;
}
.header__logo-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__menu-list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.header__menu-item {
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}

.header__menu-link {
  display: flex;
  color: var(--crema-claro);
  background-color: var(--marron-claro);
  padding: 0.5vw 1.2vw;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 12px;
  text-align: center;
} 
.header__menu-link:hover{
  background-color: var(--crema-claro);
  color: var(--marron-claro);
}

.titulo-bienvenida{
  font-size: 17px;
  color: var(--blanco);
  padding: 40px;
}

/* header administradores */
.header--admin{
  background-color: var(--crema-claro);
}
.header__menu-link--admin{
  background-color: var(--rosa-pastel-oscuro);
  color: var(--crema-claro);
  padding: 0.2vw 1.2vw;
  text-align: center;
  
}
.header__menu-link--admin:hover{
  background-color: var(--rosa-pastel-oscuro);
  color: var(--marron-claro);
}
.header__menu-list--admin{
  gap: 20px;
  
}
.titulo-bienvenida--admin{
  color: var(--rosa-pastel-oscuro);
}
/* header trabajador */
.header--trabajador{
  background-color: var(--marron-claro);
}

/* --------------Bloque: login y registro-------------- */
.login {
  background-color: var(--rosa-pastel);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 6vw;
}
.login__radio {
  display: none;
}

.login__container {
  background-color: var(--rosa-oscuro);
  border-radius: 30px;
  width: 100%;
  max-width: 23vw;
  padding: 60px 70px;
  text-align: center;
}

.login__container--registro {
  height: 35vw;
  width: 50vw;
  padding: 18px 70px;
}

.login__title {
  color: var(--crema-claro);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.login__image {
  width: 5vw;
  height: 5vw;
  border-radius: 50%; 
  margin-bottom: 20px;
}

.login__input-group {
  margin-bottom: 10px;
  position: relative;
}

.login__input,.input__agendar {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  background-color: var(--crema-claro);
  font-size: 1rem;
  outline: none;
  color: var(--marron-claro);
}

.login__input::placeholder {
  color: var(--marron-claro);
  opacity: 0.7;
}

.login__button,.btn__agendar {
  background-color: var(--marron-claro);
  color: var(--crema-claro);
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
  width: 100%;
  font-weight: bold;
}

.login__button--hover,.btn__agendar--hover:hover {
  background-color: var(--rosa-pastel);
  transform: translateY(-2px);
  color: var(--marron-claro);
}

.login__link {
  display: block;
  margin-top: 15px;
  color: var(--crema-claro);
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login__link--hover:hover {
  text-decoration: underline;
  color: var(--crema-claro);
}